:root{

  --color-maximun-red: #d62828 ;
  --color-prussian-blue: #023047;

  --btn-danger-color: var(--color-maximun-red);
  --btn-color: var(var(--color-prussian-blue));
  
}



body {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input{
  font-family: 'Oswald', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
